/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

@layer base {
    ul, ol {
      list-style: revert;
    }
  }


  @font-face {
    font-family: 'VAGRoundedRegular';
    src: url('/fonts/VAG_Rounded_Regular_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
/* ---------------- NAVBAR ------------------ */

    .nav-logo {
        font-family: 'VAGRoundedRegular', sans-serif; 
        font-size: 2.2rem;
        font-weight: 500;
        color: #ffffff;
    }

    .description-title{
        font-size: 2rem;
    }

/* Style for the logo image and text container */
.logo-container {
    height: 10px;
    display: flex;
    align-items: center; 
}

/* Style for the logo image */
.logo-image {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintains aspect ratio */
    margin-right: 10px; 
}


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 80.5%;
        font-family: 'Roboto', sans-serif;
    }
    
    /* li {
        list-style: circle;
    }
     */
    a {
        text-decoration: none;
        color: #00f6f6;
    }
    
    .header{
        border-bottom: 1px solid #E2E8F0;
    }
    
    .navbar {
        padding-left: 0.8rem;
        padding-right: 1.5rem;
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #27292c ; 
        z-index: 1000; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
    


    /* Styling for the post job button */
    .post_job_btn {
    font-size: 1.3rem;
    background-color: #5865F2;
    color: white;
    border-radius: 0.375rem; 
    padding: 1rem 1.75rem; 
    }
    
    
    .hamburger {
        display: none;
    }
    
    .bar {
    display: block;
    width: 18px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 2px; /* Add this property for rounded edges */
    }
    
    .nav-menu {
        /* padding: 20px; */
        list-style-type: none; /* This removes the bullets/dots */
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000; /* A higher value than the hero section */
    }

    .nav-menu.active{
        padding: 20px;
    }

    .nav-item {
        /* font-family: 'VAGRoundedRegular', sans-serif; */
        list-style-type: none; /* This removes the bullets/dots */
        margin-left: 5rem;
        font-size: 2rem;
        color:white;
    }
    
    .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
    }
    
    .nav-link:hover{
        color: white;
    }
    


     
    
    @media only screen and (max-width: 768px) {

    .nav-logo {
        font-family: 'VAGRoundedRegular', sans-serif; 
        font-size: 2.0rem;
        font-weight: 500;
        color: #ffffff;
    }
    .nav-menu {
        color: white;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #36393e;
        width: 100%;
        justify-content: center; 
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        
    }

    .nav-menu.active {
        left: 0;
    }
    .nav-menu.active .nav-link {
        color: white; /* Set the color to white */
    }
            
    .nav-item {
    list-style-type: none;
    margin: 1rem 0; /* Adjust the margin values */
    font-size: 1.3rem;
    color: white;
    
    }

   
    .hamburger {
    display: block;
    cursor: pointer;
    border: 1px solid #ffffff; /* Add an outline with the desired color */
    border-radius: 7px; /* Adjust the border-radius for rounded corners */
    padding: 2px; /* Add padding for spacing around the hamburger icon */
    width: 35px; /* Adjust the width and height as needed */
    height: 35px;
    text-align: center;
    line-height: 35px; /* Center the content vertically */
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    }
    
 
/*  -------------------------------------------- */

/* Search , Form fields , etc -------------------*/
    .searchInput {
        font-size: 1.5rem;
        width: 700px;
        height: 45px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 3rem;
        border: 1px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #333333;
        color: white;
        transition: .4s ease;
        border-color: rgba(255, 255, 255, 0.604);
    }

    .filterInput{
        width: max-content;
        border: 1px solid transparent;
        border-color: rgba(255, 255, 255, 0.604);;
        font-size: 1.2rem;
        border-radius: 8px;
        padding: 5px;
        color: white;
        /* padding-left: 2.5rem; */
        background-color:  #333333;
    }

    .searchInput::placeholder {
        color: #9e9ea7;
    }

    .filterInput:focus,.filterInput:hover{
        box-shadow: 0 0 0 2px rgba(11, 142, 172, 0.604), 0 0 2px rgba(1, 63, 77, 0.604);
        border-color: rgba(14, 207, 250, 0.604);

    }
    .searchInput:focus, .searchInput:hover {
        outline: none;
        border-color: rgba(14, 207, 250, 0.604);
        background-color: rgba(129, 129, 129, 0.604);
        /* box-shadow: 0 0 0 4px rgb(234 76 137 / 10%); */
        box-shadow: 0 0 0 2px rgba(11, 142, 172, 0.604), 0 0 2px rgba(1, 63, 77, 0.604); /* Neon aqua blue box shadow */
    }

    @media only screen and (max-width: 768px) {
        .searchInput {
            font-size: 1.5rem;
            width: 300px;
            height: 45px;
            line-height: 28px;
            padding: 0 1rem;
            padding-left: 3rem;
            border: 1px solid transparent;
            border-radius: 8px;
            outline: none;
            background-color: #333333;
            color: white;
            transition: .4s ease;
            border-color: rgba(255, 255, 255, 0.604);
        }
    }


/* --------------------------------------- */



/* ------------ LISTING CARD ------------*/
.gradient_border_card {
    font-size: 1rem;
    width: min-content;
    border-radius: 20px;
    padding: 2.5px;
    display: flex;
    height: auto;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; 
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    /* justify-content: center; 
    align-items: center;  */
    }
    
    .salary_card {
    padding: 5px;
    font-size: 1rem;
    text-align: center; 
    color: white; 
    background: rgb(5, 6, 45); 
    border-radius: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    
    .location_card {
        max-width: 200px;
        font-size: 1rem;
        padding:5px;
        text-align: center;
        color: white; 
        background: rgb(5, 6, 45); 
        border-radius: 18px;
        /* max-width: min-content;
        height: min-content; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .job_title {
        font-size: 1.5rem; /* Increase the font size */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* Adjust max-width to match the width of td.px-4 */
        max-width: 100%; /* Remove this line */
        margin: 5px 0;
        max-height: 3.5rem;
        margin-bottom: 1rem;
        }

    .job_title:hover {
        text-decoration: underline;
        }



        
    .location_name {
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .company_title{
        color: #9e9ea7;
        font-size: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        margin-bottom: 1rem;

    }


.rounded-lg {
    margin: 1.5rem auto; /* Use 'auto' for horizontal centering */
    background: #333333;
    color: white;
    max-width: 70%; /* Set a maximum width for the card */
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 15px;
}


    .rounded-lg:hover{
        background: #252525;
    }


    /* .circular-logo {
        width:20%;
        height: 20%;
        border-radius: 50%;
        object-fit: contain; 
    } */



    .date-card{
            font-size:1.25rem;
        }

    .text-sm {
        font-size: 2rem;
    }

    .circular-logo {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        object-fit: contain; 
        align-items: center;
        justify-content: center;
        padding: 1rem;
        /* padding-right: 10px; xalaei */
        margin:auto;
        /* left: 10; */
        /* padding-right: 2rem; */
  
    }



    .company_title:hover{
        text-decoration: underline;
    }
    .tag {
    display: inline-block;
    padding: 4px 8px;
    color: rgb(48, 5, 178); /* Change text color to red */
    border: 1px solid rgb(14, 116, 167); /* Change border color to red */
    margin-right: 4px;
    cursor: pointer;
}

/* Add hover style for the tags */
.tag:hover {
    color: rgb(17, 138, 67); /* Change text color to white on hover */
    background-color: rgb(12, 78, 110); /* Change background color to red on hover */
}
.tag::after{
    color: aqua;
}



    @media (max-width: 767px) {
        

    .rounded-lg {
        max-width: 100%; 
        margin: 10px auto;
        padding-left: 5px;
        padding-right: 5px; 
        
    }
    .px-5 {
        width: 52.8px;
        flex-direction: column; /* Stack the content vertically */
        justify-content: center; /* Center content vertically */
    }
    


    .circular-logo {
        /* padding-right: 50x; */
        min-height: 5rem;
        min-width: 5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%; 
        object-fit: contain;
        /* padding-right: 1rem; */
    }

    td.circular-logo {
        /* min-width: 58.8667; */
        /* width: 58.866px; */
    }



    .tags-cell {
        display: none;
    }

    
    /* Adjust date alignment */
    .date-cell {
        text-align: right;
        font-size: 1rem;
    }
    }

  




/* td.px-4 {
    padding: 0;
    display: flex;
    justify-content: flex-start;
} */

/* Center content vertically within td elements */

td.px-4 {
/* width: 100%; */
padding: 0; 
justify-content: flex-start;

}

.rounded-lg table {
width: 100%;
table-layout: fixed;


}

.rounded-lg td {
vertical-align: top;
padding: 10px;
}





    @media (max-width: 767px) {
    .job_title{
        font-size: 1.2rem;
        width: 400px;
        max-width: 400px;
    }

    .company_title {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 60%;
        margin: 3px 0;
        margin-bottom: 1rem;

    }

    .company_title, .location_name {
        font-size: 1rem;
        /* max-width: 100%; */
        margin: 3px 0;
    }

}

/* ---------------------- */


/* ------------- FOOTER ITEM ----------------- */



    /* Add this style block within your Blade template or link to an external CSS file */

