/* Reset some default styles for the body and header */
body, header {
    margin: 0;
    padding: 0;
}

/* Style for the hero section */
.hero {
    background-image: url('images/facebook_profile_image.jpg'); /* Your background image URL here */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Styling for the hero content */
.hero-content {
    max-width: 600px;
    padding: 0 20px;
}

/* Styling for the hero title */
.hero-title {
    font-size: 5rem;
    font-weight: bold;
}

/* Styling for the hero subtitle */
.hero-subtitle {
    color: black;
}

/* Styling for the hero description */
.hero-description {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Styling for the hero button */
.hero-button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 12px 24px;
    border-radius: 30px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

.hero-button:hover {
    background-color: black;
    color: white;
}
